/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://unpkg.com/@catppuccin/palette/css/catppuccin.css");

html,
body {
  height: 100%;
  background-color: var(--ctp-frappe-crust);
  overflow: hidden;
}

.navbar {
  background-color: var(--ctp-frappe-mantle);
}
.card {
  background-color: var(--ctp-frappe-surface0);
}

.card-header,
.card-header-title {
  color: var(--ctp-frappe-flamingo) !important;
}

.card-content {
  color: var(--ctp-frappe-text);
}

.card-footer {
  border-top: none;
}

.container {
  padding-top: 10px;
  height: 100%;
}

.card-content .content h2 {
  color: var(--ctp-frappe-flamingo);
}

.right {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.left {
  display: block;
  margin-right: auto;
  margin-left: 0;
}

.icon {
  color: var(--ctp-frappe-flamingo);
}

.button {
  color: var(--ctp-frappe-mauve);
  background-color: var(--ctp-frappe-crust);
}

.button.is-danger {
  background-color: var(--ctp-frappe-red);
  color: var(--ctp-frappe-crust);
}

.button.is-warning {
  background-color: var(--ctp-frappe-teal);
  color: var(--ctp-frappe-crust);
}

.button.is-save {
  background-color: var(--ctp-frappe-blue);
  color: var(--ctp-frappe-crust);
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.memo_form {
  margin-bottom: 25px;
}

.memo_form_container {
  background-color: var(--ctp-frappe-base);
}

.input,
.textarea {
  background-color: var(--ctp-frappe-crust);
  color: var(--ctp-frappe-text);
}

*::placeholder {
  /* modern browser */
  color: var(--ctp-frappe-subtext0) !important;
}

.updateMemo,
.saveMemo,
.cancelEdit {
  display: none;
}

.memoIndex {
  margin: 0 auto;
  width: 800px;
  height: 100%;
}

.memoIndex > * {
  margin-bottom: 10px;
}

.card-footer-item {
  border-inline-end: none !important;
}

.highlight table td {
  padding: 5px;
}
.highlight table pre {
  margin: 0;
}
.highlight {
  color: #faf6e4;
  background-color: #122b3b;
}
.highlight .gl {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .gp {
  color: #a8e1fe;
  font-weight: bold;
}
.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
  color: #6c8b9f;
  font-style: italic;
}
.highlight .cp {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .err {
  color: #4df4ff;
}
.highlight .gr {
  color: #cc0000;
  font-weight: bold;
  font-style: italic;
}
.highlight .k,
.highlight .kd,
.highlight .kv {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .o,
.highlight .ow {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .p,
.highlight .pi {
  color: #4df4ff;
}
.highlight .gd {
  color: #cc0000;
}
.highlight .gi {
  color: #b2fd6d;
}
.highlight .ge {
  font-style: italic;
}
.highlight .ges {
  font-weight: bold;
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gt {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .kc {
  color: #f696db;
  font-weight: bold;
}
.highlight .kn {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kp {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kr {
  color: #ffb000;
  font-weight: bold;
}
.highlight .gh {
  color: #ffb000;
  font-weight: bold;
}
.highlight .gu {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kt {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .no {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nc {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nd {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nn {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .bp {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .ne {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nl {
  color: #ffb000;
  font-weight: bold;
}
.highlight .nt {
  color: #ffb000;
  font-weight: bold;
}
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx {
  color: #f696db;
  font-weight: bold;
}
.highlight .ld {
  color: #f696db;
  font-weight: bold;
}
.highlight .ss {
  color: #f696db;
  font-weight: bold;
}
.highlight .s,
.highlight .sb,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .sr,
.highlight .s1 {
  color: #fff0a6;
  font-weight: bold;
}
.highlight .sa {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .se {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .sc {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .si {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .nb {
  font-weight: bold;
}
.highlight .ni {
  color: #999999;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .go {
  color: #bbbbbb;
}
.highlight .nf,
.highlight .fm {
  color: #a8e1fe;
}
.highlight .py {
  color: #a8e1fe;
}
.highlight .na {
  color: #a8e1fe;
}
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
  color: #a8e1fe;
  font-weight: bold;
}
