<% if user_signed_in? %>
  <%= csrf_meta_tag %>
  <script>
        function openModal() {
            document.getElementById("modal1")
                .classList.add("is-active");
        }
  </script>
  <div class="memoIndex">
    <%= render "layouts/new" %>
    <% @memos.each do |memo| %>
      <%= render partial: "layouts/memo", object: memo %>
    <% end %>
  </div>
  <script>
    document.body.addEventListener('htmx:configRequest', function(evt) {
      event.detail.headers['X-CSRF-Token'] = $('meta[name="csrf-token"]').attr('content');
    })

    document.body.addEventListener('htmx:afterSettle', function(evt) {
      setupClicks();
    })

    document.querySelectorAll('.modal-background, .modal-close,.modal-card-head .delete, .modal-card-foot .button').forEach(($el) => {const $modal = $el.closest('.modal');$el.addEventListener('click', () => {$modal.classList.remove("is-active");});});

    function setupClicks() {
  $(".editMemo").on("click", function() {
    $(this).parent().find(".destroyMemo").hide();
    $(this).parent().find(".saveMemo").show();
    $(this).parent().find(".editTags").show();
    $(this).parent().find(".cancelEdit").show();
    var card = $(this).parents(".card");
    card.children(".viewMemo").hide();
    card.children(".updateMemo").show();
    $(this).hide();
  });
  $(".cancelEdit").on("click", function() {
    $(this).parent().find(".destroyMemo").show();
    $(this).parent().find(".saveMemo").hide();
    $(this).parent().find(".editTags").hide();
    $(this).parent().find(".cancelEdit").hide();
    $(this).parents().find(".editMemo").show();
    var card = $(this).parents(".card");
    card.children(".viewMemo").show();
    card.children(".updateMemo").hide();
    $(this).hide();
  });
  $(".saveMemo").on("clickt", function() {
    var card = $(this).parents(".card");
    var url = card.children(".updateMemo").data('url');
    var body = card.find("#editMemoTA").val();
    $.ajax({
      url: url,
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      data: "memo%5Bbody%5D="+encodeURIComponent(body),
      dataType: "html",
      type: 'PUT',
      success: function(result) {
        var memoDiv = card.parents("#memo");
        memoDiv.replaceWith(result);
        setupClicks();
      }
    });
  });
    }
  setupClicks();
  </script>
<% end %>
