<%= form_for :memo, :url => url_for(:controller => "memos", :action => "create"), html: { class: "memo_form" } do |form| %>
  <div class="card" >
        <div class="card-content">
          <div class="content">
            <div class="field">
              <%= form.text_area :body, placeholder: "Memo", class: "textarea" %>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <%= form.file_field :attachment, accept: "image/png,image/jpg,image/jpeg" %>
            <%= button_tag type: 'submit', class: "button right is-save" do %>
                <i class="fa-regular fa-floppy-disk" aria-hidden="true"></i>
            <% end %>
          </div>
        </footer>
      </div>
<% end %>
